/* RESET DA PÁGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*CABEÇALHO*/

h1 {
  font-family: 'Dancing Script', cursive;
}

#oi {
  width: 100%;
  background-color: lightblue;
}
