* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ddd;
}

#conteudo {
  width: 800px;
  background-color: lightgreen;
  border: 2px dotted green;
}

.cancelado {
  text-decoration: line-through;
}

ul {
  padding: 0 0 0 40px;
}

ul li {
  color: blue;
}

#conteudo > ul > li {
  padding: 0 0 20px 0;
}

p:first-child {
  color: red;
  font-style: italic;
}
